@font-face {
  font-family: "GongGothicMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "GongGothicMedium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  width: 100%;
  position: fixed;
  padding: 5px 40px;
}
header.active {
  background-color: #a6daf4;
}
header nav {
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
}
#logo {
  height: 100%;
  float: left;
}
#logo img {
  height: 100%;
}
header nav .active {
  background-color: #a6daf4;
}
header nav #menuList a#toggle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  float: right;
}
header nav #menuList a#toggle img {
  width: 100%;
  vertical-align: middle;
}

header nav #menuList ul li {
  padding: 13px;
  text-align: center;
  border-bottom: 1px solid #576979;
  font-size: 1em;
  font-weight: bold;
}

header nav #menuList ul {
  display: none;
  clear: right;
  margin: 0 auto;
}

/*section*/
section {
  padding: 100px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section article {
  width: 100%;
}
section article .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  font-size: 1em;
}
section article .title img {
  width: 40px;
}

/*banner*/
section#banner {
  justify-content: flex-start;
}
section#banner {
  width: 100%;
  height: 100vh;
  background-image: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding: 160px 40px;
}
section#banner h2 {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

/*new*/
section#new article #newContent div {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 25%);
  background-size: cover;
}
section#new article #newContent div:first-child {
  background-image: url(../image/berryNew.jpg);
  margin-bottom: 40px;
}
section#new article #newContent div:nth-child(2) {
  background-image: url(../image/bubbleNew.png);
}

/*menu*/
section#ingredient {
  background-color: #a6daf4;
}

/*ingredient*/
section#ingredient {
  background-color: #fcfcd4;
}
section#ingredient article #ingreContent div {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 25%);
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
}
section#ingredient article #ingreContent p {
  color: white;
  text-align: center;
  line-height: 110px;
  font-size: 0.8em;
}
section#ingredient article #ingreContent div:first-child {
  background-image: url(../image/말차.jpg);
}
section#ingredient article #ingreContent div:nth-child(2) {
  background-image: url(../image/yogurt.jpg);
}
section#ingredient article #ingreContent div:nth-child(3) {
  background-image: url(../image/과일.jpg);
}
section#ingredient article #ingreContent div:last-child {
  background-image: url(../image/원두.jpg);
  margin-bottom: 0;
}

/*franchise*/
section#franchise article #franContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;
  font-size: 1em;
}
section#franchise article #franContent .franImg {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 100%;
  border: 2px solid #a6daf4;
  padding: 10px;
}
section#franchise article #franContent .franImg Img {
  height: 100%;
}
section#franchise article #franContent > div:last-child .franImg img {
  width: 100%;
}
section#franchise article #franText {
  text-align: center;
  font-size: 0.9em;
  line-height: 25px;
  margin-bottom: 40px;
}
section#franchise article #franButton {
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #a6daf4;
  border-radius: 70px;
  border: 2px solid #00a6fb;
  margin: 0 auto;
  font-size: 1.1em;
}

/*footer*/
footer {
  background-color: #313131;
  color: #bcbcbc;
  width: 100%;
  padding: 50px 40px;
  font-size: 0.5em;
  text-align: center;
}
footer img {
  width: 100px;
  opacity: 0.8;
  padding: 20px 0;
}
footer p {
  padding: 5px 0;
}
footer span {
  width: 100%;
  display: block;
}
footer p:last-child {
  padding-bottom: 20px;
}
/*PC & Mobile*/
@media screen and (min-width: 875px) {
  /*header*/
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  header nav #menuList {
    width: 550px;
  }
  header nav #menuList a#toggle {
    display: none !important;
  }
  header nav #menuList ul {
    display: flex;
    justify-content: space-between;
    background: none;
    font-size: 0.4em;
  }
  header nav #menuList ul li {
    border: none;
  }

  /*section*/
  section {
    height: 100vh;
    padding: 0 120px;
  }
  section article .title {
    gap: 20px;
    margin-bottom: 40px;
    font-size: 1.3em;
  }
  section article .title img {
    width: 50px;
  }

  /*banner*/
  section#banner {
    padding: 95px 120px;
  }
  section#banner h2 {
    font-size: 1.3em;
  }

  /*new*/
  section#new article #newContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
  }
  section#new article #newContent div {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 25%);
    background-size: cover;
  }
  section#new article #newContent div:first-child {
    margin-bottom: 0px;
  }

  /*ingredient*/
  section#ingredient article #ingreContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  section#ingredient article #ingreContent div {
    height: 280px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 25%);
    margin-bottom: 0px;
  }
  section#ingredient article #ingreContent p {
    color: white;
    text-align: center;
    line-height: 110px;
    font-size: 0.8em;
  }

  /*footer*/
  footer span {
    display: inline;
    padding-left: 25px;
  }
}

@media screen and (min-width: 1200px) {
  header nav #menu {
    width: 750px;
  }
}
